*{
	padding: 0;
	margin: 0;
}
img{
	border: 0;
}
.fl{
	float: left;
}
.fr{
	float:right;
}
.clear{
	clear: both;
}
.cursor{
	cursor: pointer;
}
a{
	text-decoration: none;
	color:#333333;
}
a:hover{
	color: red;
}
.fs12{
	font-size: 12px;
}
.fs13{
	font-size: 13px;
}
.fs14{
	font-size: 14px;
}
.fs16{
	font-size: 16px;
}
.fs18{
	font-size: 18px;
}
.fs20{
	font-size: 20px;
}
.fs22{
	font-size: 22px;
}
.fs24{
	font-size: 24px;
}
.fs26{
	font-size: 26px;
}
.none{
	display: none;
}
.in_width{
	width:1150px;
	margin: 0 auto;
}

.header_in{
	width:100%;
	height: 30px;
	/*border:1px solid red;*/
}
.left_link a{
	line-height: 30px;
	margin-right: 10px;
	color: #A0A0A0;
}
.login_info{
	height: 15px;
	margin-top:7px;
	margin-right:20px;
}
.login_info a{
	float:left;
	line-height: 15px;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	color:#3199C6;
}
.login_info span{
	float:left;
	display: inline-block;
	line-height: 15px;
	color:#9E9E9E;
}
.login_info .register{
	border-right: 1px solid #3199C6;
}


.title_in{
	width:100%;
	height: 110px;
	margin-top:10px;
	margin-bottom: 10px;
}
.title_in .logo_img{
	width:205px;
	height:65px;
	float: left;
	margin-top:45px;
}
.search_box{
	width:460px;
	height:100px;
	float:left;
	margin-top:9px;
	margin-left:20px;
}
.search_box .search_hot_words{
	margin-top:14px;
	width:460px;
	height:30px;
}
.search_hot_words a{
	float:left;
	display: inline-block;
	line-height: 30px;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #8D8B8B;
	padding-right: 24px;
}
.seach_div{
	width:430px;
	height:50px; 
}
.seach_div .search_input{
	width:280px;
	height:40px;
	outline: none;
	border:5px solid #DBDADA;
	line-height: 40px;
	font-size: 18px;
	color: #DBDADA;
	background: url(../images/search_bg.png) no-repeat 0px 0px;
	background-size: contain;
	text-indent: 60px;
	float: left;
}
.seach_div .search_btn{
	display: inline-block;
	width:135px;
	height:40px;
	border-width: 5px 5px 5px 0px;
	border-style: solid;
	border-color:#DBDADA;
	float: left;
	background-color: #F54343;
	line-height: 40px;
	font-size: 19px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
	
}
.nav{
	width:100%;
	height:50px;
	background-color: #F54343;
}
.nav_in{
	width:1150px;
	height:50px;
	margin: 0 auto;
}
.nav_in li{
	float: left;
	display: inline-block;
	height:50px;
	line-height: 50px;
}
.nav_in li a{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
	font-size: 18px;
}
.nav_in li:first-child a{
	padding-left: 0px;
}

.nav_bar{
	border-bottom:1px solid #EFEFEF;
	height:40px;
	line-height: 40px;
	font-size: 16px;
	background: url(../images/home.png) no-repeat 0px 10px;
}
.nav_bar a,.nav_bar span{
	float:left;
	display: inline-block;
    height:40px;
	line-height: 40px;
	cursor: pointer;
	color:#333333;
	padding-left: 5px;
	font-family: Adobe 黑体  Std;
	/*font-size: ;*/
}
.nav_bar a:first-child{
	margin-left: 20px;
}



.content{
	width:100%;
	margin-top:15px;
}
.content_in{
	width:1150px;
	/*height:470px;*/
	/*border:1px solid red;*/
}
.main_left{
	width:852px;
}
.ml_in_width{
	width:852px;
	margin: 0 auto;
}
.content_in .content_left{
	width:440px;
	height:468px;
	border:1px solid #EDEDED;
	overflow: hidden;
}
.content_in .content_left .hot_news{
	width:440px;
	height:135px;
	background: url(../images/hot.png) no-repeat 0px 0px;	
}
.hot_news .hot_new_text{
	width:390px;
	height:34px;
	line-height: 34px;
	margin-left: 50px;
	color: #004499;
	font-size: 16px;
}
.hot_news img{
	width:131px;
	height:82px;
	display: block;
	margin-left: 50px;
	margin-top: 10px;
}
.hot_news_list{
	height:330px;
	width:440px;
}
.hot_news_list li{
	display: inline-block;
	float:left;
	width:430px;
	height:83px;
	margin-left: 5px;
	border-top:2px dotted #9F9E9E;
}
.hot_news_list li a{
	display: block;
	margin-left:20px;
	width:400px;
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"SimSun";
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.no_detail_link a{
	height:83px;
	line-height: 83px;
}
.detail_link a.main_link{
	height:50px;
	line-height: 50px;
}
.detail_link a.d_link{
	height:20px;
	line-height: 20px;
}
a.main_link{
	font-size: 22px;
	color: #004499;
}
a.d_link{
	color: #A7A7A7;
	font-size: 17px;
}
.content_center{
	width:390px;
	height:468px;
	/*border: 1px solid red;*/
	margin-left:20px;
}
.silder_wrapper{
	width:390px;
	height:280px;
	overflow: hidden;
	position: relative;
}
.slider_imgwrap{
	width:9999px;
	height:280px;
	position: absolute;
	left:0;
}
.slider_imgwrap li{
	float:left;
	width:390px;
	height:280px;
	display: inline-block;
}
.slider_imgwrap li img{
	width:390px;
	height:280px;
	display: inline-block;
}
.slider_imgwrap li .img_title{
	display: none;
}
.slider_mask{
	height:52px;
	width:390px;
	position: absolute;
	bottom: 0;
	background: rgba(151,152,154,.7);
}
.mask_title{
	line-height: 52px;
	color:#ffffff;
	text-align: center;
	width:170px;
	height:50px;
	margin-left:5px;
	margin-right:5px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.silder_nums{
	width:150px;
	height:26px;
	float:right;
	margin-top:10px;
}
.slider_num{
	float:left;
	display: inline-block;
	width:26px;
	height:26px;
	background-color: #838383;
	cursor: pointer;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	margin-right:4px;
}
.slider_num.current{
	background-color: #1A90C0;
}
.hot_dis{
	width:388px;
	height:52px;
	border:1px solid #EEEEEE;
	border-bottom: none;
	margin-top:14px;
	background: url(../images/hot_dis.png) no-repeat 0px 0px;
}
.hot_dis a{
	display: block;
	cursor: pointer;
	margin-left:40px;
}
.hot_dis .hot_dis_main{
	width:340px;
	height:30px;
	line-height: 30px;
	font-size: 17px;
	color: #A6A5A5;
}
.hot_dis .hot_dis_small{
	width:340px;
	height:20px;
	line-height: 20px;
	font-size: 13px;
	color: #1A90C1;
}
.main_img{
	width:390px;
	height:120px;
	display: block;
}

/****详情页左侧部分****/
.article_content{
	width:852px;
	border-bottom: 1px dotted #DCDBDB;
}
.ac_in_width{
	width:852px;
	margin: 0 auto;
}
.article_title{
	height:46px;
	line-height: 46px;
	text-align: center;
	font-size: 24px;
	color:#333333;
	font-family: "Microsoft YaHei";
}
.article_desc{
	height:43px;
	line-height: 43px;
	font-size: 15px;
	border-bottom:1px solid #EFEFEF;
}
.article_desc .article_time{
	float:left;
	display: inline-block;
	margin-left:60px;
}
.article_desc .article_source{
	float:left;
	display: inline-block;
	margin-left:10px;
}
.article_desc .article_activity{
	float:left;
	display: inline-block;
	margin-left:30px;
	color:#82B7DA;
}
.article_content .detail_img{
	display: block;
	height:775px;
	margin: 10px auto;
}
.detail_img_title{
	display: block;
	height:36px;
	line-height: 36px;
	text-align: center;
	color:#82B7DA;
	font-size: 15px;
}
.article_p{
	width:780px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 15px;
}
.article_p p{
	text-indent: 28px;
	font-size: 15px;
	line-height: 23px;
	margin-bottom: 10px;
	color: #8D8D8D;
}
.article_comment .article_comment_title{
	font-size: 20px;
	line-height: 40px;
	height:40px;
	color:#686868;
	margin-top: 20px;
	font-family: Adobe 黑体  Std;
}
.article_comment .article_comment_div{
	height: 248px;
	background-color: #FBFBFB;
}
.article_comment_user{
	width:45px;
	height:248px;
	margin-left: 64px;
}
.article_comment_user img{
	margin-top: 40px;
	display: block;
	width: 45px;
	height:43px;
}
.article_comment_user_name{
	width: 45px;
	height:30px;
	line-height: 30px;
	color:#B9B9B9;
	font-size: 12px;
	display: block;
	text-align: center;
}
.article_comment_box{
	position: relative;
	margin-left: 35px;
	width:673px;
	height:248px;
}
.article_comment_input{
	width:650px;
	height:141px;
	max-width:650px;
	max-height: 141px;
	border:1px solid #E9E8E8;
	margin-top:20px;
	border-radius: 6px;
	outline: none;	
	line-height: 30px;
	font-size: 15px;
	padding: 5px 10px;
}
.article_comment_box .input_arrow{
	display: inline-block;
	width:13px;
	height: 14px;
	background: url(../images/arrow.png) no-repeat 0px 0px;
	position: absolute;
	left:-11px;
	top:40px;
}
.article_comment_input::-webkit-input-placeholder{/* 使用webkit内核的浏览器 */
	width:650px;
	height:141px;
	line-height: 140px;
	text-align: center;
	font-size: 12px;
	color:#E3E3E3;
}	
.article_comment_input:-moz-placeholder{/* Firefox版本4-18 */
	width:650px;
	height:141px;
	line-height: 140px;
	text-align: center;
	font-size: 12px;
	color:#E3E3E3;
} 
.article_comment_input::-moz-placeholder{/* Firefox版本19+ */
	width:650px;
	height:141px;
	line-height: 140px;
	text-align: center;
	font-size: 12px;
	color:#E3E3E3;
} 
.article_comment_input:-ms-input-placeholder{/* IE浏览器 */
	width:650px;
	height:141px;
	line-height: 140px;
	text-align: center;
	font-size: 12px;
	color:#E3E3E3;
} 
.article_comment_input.input_arrow_place_holder{
	width:650px;
	height:141px;
	line-height: 140px;
	text-align: center;
	font-size: 12px;
	color:#E3E3E3;
}
.article_comment_tips{
	width:650px;
	height:20px;
	line-height: 20px;
	margin-top:5px;
	color:#3099ED;
	text-indent: 20px;
	font-size: 13px;
}
.article_comment_btn{
	width: 230px;
	height: 36px;
	float:right;
	line-height: 36px;
	font-size: 12px;
}
.article_comment_btn span{
	cursor: pointer;
}
.article_comment_btn .article_comment_tip_span{
	color: #3099ED;
}
.article_comment_btn .article_comment_submit{
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 36px;
	border-radius: 5px;
	background-color: #3099ED;
	color: #ffffff;
	margin-left: 10px;
}

.article_comment_list .article_comment_title{
	font-size: 20px;
	line-height: 40px;
	height:40px;
	color:#686868;
	margin-top: 20px;
	font-family: Adobe 黑体  Std;
}
.act_span1{
	font-size: 16px;
	margin-left: 5px;
}
.act_span1 .comment_nums{
	color: #3099ED;
	font-weight: bold;
}
.act_span1 a{
	color: #333333;
}
.article_comment_item{
	border-bottom: 1px dotted #DBDADA;
}
.article_comment_item .comment_item_user_warpper{
	width:56px;
	height:158px;
	margin-left: 30px;
}
.comment_item_user_warpper img{
	width:43px;
	height:45px;
	display: block;
	margin: 25px auto 0;
}
.comment_item_user_warpper span{
	display: block;
	width:56px;
	height:24px;
	line-height: 24px;
	font-size: 12px;
	text-align: center;
	background-color: #B1CDE5;
	color: #ffffff;
	cursor:pointer;
	margin-top: 15px;
}
.comment_item_user_warpper span.not_friends{
	text-indent: 10px;
	background-image: url(../images/add.png);
	background-position: 6px 4px;
	background-repeat: no-repeat;
}

.comment_item_content_div{
	width:753px;
	min-height:158px;
	float:left;
	margin-left:10px;
}

.comment_item_content_div .cicd_title{
	width:753px;
	height:34px;
	line-height: 34px;
	margin-top: 22px;font-size: 16px;
	color:#6E6E6E;
}
.comment_item_content_div .cicd_title span{
	display: inline-block;
	font-size: 16px;
	color:#6E6E6E;
	font-family: Adobe 黑体  Std;
}
.comment_item_content_div .cicd_title .cicd_username{
	margin-left: 10px;
	margin-right: 10px;
	color:#6E6E6E;	
	font-family: Adobe 黑体  Std;
}
.cicd_content{
	width: 740px;
	color:#333333;
	font-family: Adobe 黑体  Std;
	margin-left: 13px;
	line-height: 25px;
	text-indent: 30px;
	font-size: 17px;
}
.cicd_opr{
	height: 36px;
	line-height: 36px;
	margin-top: 30px;
	font-family: Adobe 黑体  Std;
	font-size: 16px;
}
.cicd_opr a{
	display: inline-block;
	color:#6E6E6E;
	padding: 0 6px;
}
.cicd_opr a.cicd_opr_ding span{
	color:#6E6E6E;
}
.reply_div{
	height:210px;
}
.article_reply_user{
	width:45px;
	height:248px;
	margin-left: 200px;
}
.article_reply_user img{
	margin-top: 40px;
	display: block;
	width: 45px;
	height:43px;
}
.article_reply_user_name{
	width: 45px;
	height:30px;
	line-height: 30px;
	color:#B9B9B9;
	font-size: 12px;
	display: block;
	text-align: center;
}

.reply_div .article_reply_box{
	position: relative;
	margin-left: 35px;
	width:570px;
	height:210px;
}

.article_reply_input{
	width:550px;
	height:104px;
	max-width:550px;
	max-height: 104px;
	border:1px solid #E9E8E8;
	margin-top:20px;
	border-radius: 6px;
	outline: none;	
	line-height: 30px;
	font-size: 15px;
	padding: 5px 10px;
}
.article_reply_box .input_arrow{
	display: inline-block;
	width:13px;
	height: 14px;
	background: url(../images/arrow.png) no-repeat 0px 0px;
	position: absolute;
	left:-11px;
	top:40px;
}

.article_reply_input::-webkit-input-placeholder{/* 使用webkit内核的浏览器 */
	width:550px;
	height:104px;
	line-height: 104px;
	text-align: center;
	font-size: 12px;
	color:#E3E3E3;
}	
.article_reply_input:-moz-placeholder{/* Firefox版本4-18 */
	width:550px;
	height:104px;
	line-height: 104px;
	text-align: center;
	font-size: 12px;
	color:#E3E3E3;
} 
.article_reply_input::-moz-placeholder{/* Firefox版本19+ */
	width:550px;
	height:104px;
	line-height: 104px;
	text-align: center;
	font-size: 12px;
	color:#E3E3E3;
} 
.article_reply_input:-ms-input-placeholder{/* IE浏览器 */
	width:550px;
	height:104px;
	line-height: 104px;
	text-align: center;
	font-size: 12px;
	color:#E3E3E3;
} 
.article_reply_input.input_arrow_place_holder{
	width:550px;
	height:104px;
	line-height: 104px;
	text-align: center;
	font-size: 12px;
	color:#E3E3E3;
}










.content_right{
	width:276px;
	margin-left:20px;
}
.content_right .cate_div{
	width:276px;
	border:1px solid #DFEFF6;
	color:#646464;
	font-size: 19px;
}
.cate_div .cate_p{
	width:276px;
	height:54px;
	line-height: 54px;
	text-indent: 20px;
}
.cate_div .cate_c{
	width:276px;
	height:38px;
	line-height: 38px;
	border-top:1px solid #DFEFF6;
	text-indent: 35px;
}
.content_right .notice_div{
	width:276px;
	border:1px solid #D5EAF3;
}
.content_right .notice_div .notice_title{
	width:276px;
	height:50px;
	color:#1A90C1;
	line-height: 50px;
	font-size: 20px;
	text-indent: 17px;
	border-bottom: 1px solid #D5EAF3;
}
.content_right .notice_div .notice_content{
	min-height: 70px;
	width:242px;
	margin:0 auto;
	line-height: 25px;
	font-size: 14px;
	margin-top:4px;
	color: #838383;
}
.ad_img{
	width:276px;
	height:158px;
	margin-top:40px;
	margin-bottom: 40px;
}
.ad_img img{
	width:276px;
	height:158px;
}
.ad_img1{
	width:276px;
	display: block;
	height:96px;
	margin-top:30px;
	margin-bottom: 30px;
}
.ad_img1 img{
	width:276px;
	height:96px;
}
.content_right .rank_div{
	width:276px;
	margin-top:20px;
	border:1px solid #D5EAF3;
}
.content_right .rank_div .rank_title{
	width:276px;
	height:50px;
	color:#1A90C1;
	line-height: 50px;
	font-size: 20px;
	border-bottom: 1px solid #D5EAF3;
	text-indent: 17px;
}
.content_right .rank_div .rank_title.black_color{
	color:#646464;
}
.content_right .rank_div .rank_title_links{
	display: inline-block;
}
.content_right .rank_div .rank_title_links a{
	font-size: 13px;
	color: #1A90C1;
	display: inline-block;
	text-indent: 0;
	padding-left:8px;
	padding-right:8px;
}
.content_right .rank_div .rank_list{
	width:276px;
	line-height: 25px;
	font-size: 15px;
	color: #838383;
	list-style-type:none;
	counter-reset:sectioncounter;
	overflow: hidden;
	padding-bottom: 20px;
	padding-top: 20px;
}
.content_right .rank_div .rank_list li:before {  
    content:counter(sectioncounter); 
    display: inline-block;
    width:18px;
    height:18px;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    border-radius: 50%;
    counter-increment:sectioncounter;  
    margin-left:5px;
    margin-right: 5px;
    color:#ffffff;
    background-color: #838383;
 }
.content_right .rank_div .rank_list li:nth-child(1):before{
 	background-color: #E01222;
}
.content_right .rank_div .rank_list li:nth-child(2):before{
 	background-color: #E01222;
} 
.content_right .rank_div .rank_list li:nth-child(3):before{
 	background-color: #E01222;
}
.content_right .rank_div .rank_list li:nth-child(4):before{
 	background-color: #E01222;
}
.content_right .rank_div .rank_list li:nth-child(5):before{
 	background-color: #E01222;
}
.content_right .rank_div .rank_list li{
 	cursor: pointer;
 	line-height: 25px;
 	height:25px;
 	display: block;
 	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
 	width:276px;
}
.content_right .rank_div .rank_list li a{
  	cursor: pointer;
 	height:25px;
 	color: #838383;
}
/********最新投稿*****/
.content_right .latest_posts{
	width:276px;
	margin-top:20px;
	border:1px solid #D5EAF3;
}
.content_right .latest_posts .latest_posts_title{
	width:276px;
	height:50px;
	color:#646464;
	line-height: 50px;
	font-size: 20px;
	border-bottom: 1px solid #D5EAF3;
	text-indent: 17px;
}
.content_right .latest_posts .latest_posts_list{
	width:276px;
	line-height: 25px;
	font-size: 15px;
	color: #838383;
	list-style-type:none;
	counter-reset:sectioncounter;
	overflow: hidden;
	padding-bottom: 20px;
	padding-top: 20px;
}
.content_right .latest_posts .latest_posts_list li:before {  
    content:counter(sectioncounter); 
    display: inline-block;
    width:18px;
    height:18px;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    border-radius: 50%;
    counter-increment:sectioncounter;  
    margin-left:5px;
    margin-right: 5px;
    color:#ffffff;
    background-color: #838383;
 }
.content_right .latest_posts .latest_posts_list li:nth-child(1):before{
 	background-color: #E01222;
}
.content_right .latest_posts .latest_posts_list li:nth-child(2):before{
 	background-color: #E01222;
} 
.content_right .latest_posts .latest_posts_list li:nth-child(3):before{
 	background-color: #E01222;
}
.content_right .latest_posts .latest_posts_list li:nth-child(4):before{
 	background-color: #E01222;
}
.content_right .latest_posts .latest_posts_list li:nth-child(5):before{
 	background-color: #E01222;
}
.content_right .latest_posts .latest_posts_list li{
 	cursor: pointer;
 	line-height: 25px;
 	height:25px;
 	display: block;
 	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
 	width:276px;
}
.content_right .latest_posts .latest_posts_list li a{
  	cursor: pointer;
 	height:25px;
 	color: #838383;
}


.pic_news{
	height:370px;
	width:850px;
	border:1px solid #E4E3E3;
	margin-top: 12px;
}
.pic_news_title{
	width:850px;
	height:45px;
	line-height: 45px;
	border-bottom:1px solid #E4E3E3;
	color:#1A90C1;
	font-size: 20px;
	text-indent: 17px;
}
.pic_news_content{
	width:760px;
	height:300px;
	margin: 10px auto;
}
.pic_news_img_wrap{
	float:left;
	width:150px;
	height:140px;
	margin-left: 20px;
	margin-right:20px;
	margin-bottom: 10px;
}
.pic_news_img_wrap img{
	width:150px;
	height:94px;
	display: block;
}
.pic_news_img_wrap .pic_news_link{
	width:120px;
	height:50px;
	line-height: 20px;
	display: block;
	margin: 0 auto;
	font-size: 12px;
	color:#B2B2B2;
}
.four_module{
	width:852px;
	margin-top: 10px;
}
.four_module .module_wrapper{
	float:left;
	width:416px;
	height:303px;
	border:1px solid #E4E3E3;
}
.four_module .module_wrapper .module_title{
	width:416px;
	height:37px;
	border-bottom: 1px solid #E4E3E3;
	line-height: 37px;
	color:#F54343;
} 
.four_module .module_wrapper .module_title .module_title_l{
	text-indent:14px;
	font-size: 18px;
	float:left;
	display: inline-block;
	color:#1A90C1;
}
.four_module .module_wrapper .module_title .module_title_more{
	float:right;
	margin-right:10px;
	color:#1A90C1;
	font-size: 14px;
}
.module_top_news{
	width:370px;
	height:101px;
	margin: 10px auto 0;
	border-bottom: 1px dotted #E4E3E3;
}
.module_top_news img{
	float:left;
	width:110px;
	height:75px;
}
.module_top_news span{
	width:246px;
	height:75px;
	display: inline-block;
	float:right;
}
.module_top_news .module_top_news_title{
	width:240px;
	height:25px;
	display: block;
	line-height: 25px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	color: #292828;
	font-size: 16px;
}
.module_top_news .module_top_news_desc{
	font-size: 12px;
	line-height: 14px;
	color:#9D9D9D;
}
.module_news_list{
	width:350px;
	height:140px;
	margin-left:36px;
	margin-top: 6px;
	list-style: none;
	font-size: 15px;
}
.module_news_list li{
	width:350px;
	height:25px;
	line-height: 30px;
	
}
.module_news_list li a{
	color:#9D9D9D;
	width:350px;
	height:25px;
	line-height: 30px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.module_news_list li a:before{
	content: "";
	width:3px;
	height:3px;
	float:left;
	display: inline-block;
	background-color: #1A90C1;
	margin:14px 5px 0;
}
.module_wrapper{
	margin-top:16px;
}
.module_wrapper:nth-child(even){
	margin-left:16px;
}
.module_wrapper:nth-child(1),.module_wrapper:nth-child(2){
	margin-top:0px;
}
.other_links_div{
	width:1150px;
	border:1px solid #E5E5E5;
	margin: 16px auto 0;
	padding-bottom: 20px;
}
.other_links_title{
	border-bottom: 1px solid #E5E5E5;
	height:30px;
	line-height: 30px;
}
.other_links_title span{
	float:left;
	display: inline-block;
	height:30px;
	line-height: 30px;
	color:#1A90C1;
	font-size: 19px;
	margin-left:17px;
	margin-right:17px;
}
.other_links_title a{
	float:left;
	height:30px;
	line-height: 30px;
	color:#1A90C1;
	font-size: 14px;
}
.other_links_con{
	padding: 20px;
}
.other_links_con .other_links_item{
	float: left;
	display: inline-block;
	text-align: center;
	/*line-height: 30px;*/
	padding: 3px 10px;
}
.footer{
	width:100%;
	height:70px;
	font-size: 14px;
	color:#3F3F3F;
}
.footer a{
	color:#3F3F3F;
}
.footer p:first-child{
	height:30px;
	line-height: 40px;
	text-align: center;
}
.footer p:last-child{
	height:30px;
	line-height: 30px;
	text-align: center;
}
