.bi_title{
	width:100%;
	height:30px;
	background-color: #EEEEEE;
}
.bi_title_in{
	width:1200px;
	height:30px;
	margin: 0 auto;
	position: relative;
}
.bi_title_menu{
	display: inline-block;
	color:#226381;
	line-height: 30px;
	width: 100px;
	font-size: 14px;
    margin: 0 60px 0 20px;
	float:left;
	/*border:1px solid red;*/
	text-align: center;
}
.bi_title_menu_bar{
	width:100px;
	position: absolute;
	height:3px;
	bottom: 0;
	left:20px;
	background-color: #226381;
	transition: all 0.3s ease-in;
}
.baseinfoset{
	width:1200px;
	margin: 30px auto 0;
}
.bi_content{
	width:1200px;
}
.bi_left_content{
	width:200px;
	float:left;
	font-size: 14px;
}
.bi_acc_info{
	width: 200px;
	height: 90px;
	border: 1px solid #C9CACA;
	box-sizing: border-box;
}
.bi_model_title{
	width:198px;
	height:30px;
	background-color: #595757;
	color:#ffffff;
	line-height: 30px;
	text-indent: 16px;
}
.bi_acc_div{
	width:198px;
	height:58px;
	background-color: #EEEEEE;
}
.bi_acc_id{
	width:122px;
	height:30px;
	line-height: 30px;
	color:#004B6E;
	float:left;
	margin-left: 16px;
}
.bi_acc_btn{
	width:60px;
	height:30px;
	text-align: center;
	line-height: 30px;
	color:#004B6E;
	float:right;
}
.vip_logo{
	width:14px;
	height:14px;
	display: inline-block;
	border-radius: 50%;
	background: url(../images/vip_logo.png) no-repeat -1px -1px;
	background-color: #ffffff;
}
.bi_acc_div .vip_logo{
	float:left;
	margin-left: 16px;
	margin-top: 7px;
}
.bi_nav_info{
	width:200px;
	height:663px;
	border: 1px solid #C9CACA;
	box-sizing: border-box;
	margin-top: 60px;
	background-color: #EEEEEE;
}
.bi_nav_item{
	width:198px;
	height:30px;
	line-height: 30px;
	display: inline-block;
	color:#3B7590;
	font-size: 14px;
	text-indent: 16px;
}
.bi_nav_item.active{
	background-color: #ffffff;
	color:#004B6E;
	text-decoration: underline;
}
.bi_right_content_wrap{
	width:904px;
	margin-left: 96px;
	float:left;
}
.bi_right_content{
	float:left;
	width:904px;
}
.bi_right_content_title{
	width:904px;
	height:30px;
	border-bottom:3px solid #595757;
	box-sizing: border-box;
	font-size: 18px;
}
.bi_img_show_div{
	width:400px;
	height:400px;
	margin-top: 38px;
	box-sizing: border-box;
	border:2px solid #43484C;
	float:left;
}
.bi_img_show_div .bi_img_empty{
	width:400px;
	height:400px;
}
.bi_img_empty h4{
	text-align: center;
	font-size: 13px;
	color:#004B6E;
	margin-top: 80px;
}
.bi_img_empty h3{
	text-align: center;
	font-size: 14px;
	color:#004B6E;
	margin-top: 146px;
}
.bi_img_select{
	width:473px;
	height:369px;
	float:left;
	margin-left: 28px;
	border:1px solid #9E9F9F;
	margin-top: 38px;
	box-sizing: border-box;
	border-radius: 7px 0 0 0;
	background-color: #DCDCDD;
}
.bi_img_select_title{
	width:471px;
	height:21px;
	background-color: #595757;
	border-radius: 7px 0 0 0;
}
.bi_img_select_a{
	display: inline-block;
	width:60px;
	height:22px;
	border-radius: 7px 7px 0 0;
	color:#ffffff;
	text-align: center;
	float: left;
	top:-1px;
	font-size: 14px;
	left:-1px;
	line-height: 21px;
}
.bi_img_select_a.active{
	background-color: #DCDCDD;
	color:#004B6E;
	position: relative;
	line-height: 21px;
}
.bi_img_select_content{
	width:448px;
	height:313px;
	margin: 17px auto 0;
	background-color: #ffffff;
	border:1px solid #231915;
}
.bi_img_select_content.noborder{
	background:none;
	border:none;
}
.bi_img_select_content .qq_icon{
	width:44px;
	height:44px;
	border:1px solid #B1BAC5;
	box-sizing: border-box;
	float:left;
	margin: 4px 6px;
	border-radius: 5px;
	cursor:pointer;
}
.bi_img_select_content .qq_icon.active{
	
}
.bi_img_select_content_up{
	width:243px;
	height:51px;
	border:1px dotted #726C6A;
	margin: 139px auto 0;
	text-align: center;
	line-height: 51px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.bi_img_select_content_up input#fileupload{
	position: absolute;
	width:243px;
	height:51px;
	z-index: 2;
	top:0;
	left:0;
	opacity: 0;
    cursor: pointer;
}
.bi_img_select_content_up_tip{
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}
.bi_personal_info{
	width:904px;
	margin-top: 10px;
}
.bi_personal_info tr{
	width:904px;
	height:56px;
}
.bi_personal_info_label{
	width:75px;
	height:56px;
	text-align: left;
	line-height: 56px;
}
.bi_personal_info_content{
	width:825px;
	height:56px;
}
.bi_personal_info_content span{
	margin-left: 3px;
}
.bi_personal_info_content input[type='text']{
	width: 270px;
	outline: none;
	border-bottom: 1px solid #342B27;
	height:22px;
	line-height: 22px;
	float:left;
}
.bi_personal_info_content input.gender{
	height:22px;
	line-height: 22px;
	outline: none;
	border:1px solid transparent;
}
.bi_personal_info_btng{
	width:120px;
	margin: 51px auto;
}
.bi_personal_info_btng a{
	display: inline-block;
	width:50px;
	height:20px;
	box-sizing: border-box;
	border: 2px solid #A3A2A2;
	background-color: #DCDCDD;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color:#336D88;
	float:left;
}
.bi_personal_info_btng a:first-child{
	margin-right: 20px;
}
.bi_contact_information{
	width:904px;
	margin-top: 38px;
}
.bi_contact_information tr{
	background-color: #ffffff;
}
.bi_contact_information tr td{
	width:452px;
	height:50px;
	background-color: #DCDCDD;
}
.bi_contact_information .showType{
	float:right;
	width:80px;
	height:20px;
	margin-top: 15px;
	background-color: #DCDCDD;
	color:#004B6E;
}

.bi_contact_information tr td:first-child{
	background-color: #E8F1FA;
}
.bi_contact_information tr.empty td{
	width:904px;
	height:50px;
	background-color: #ffffff;
}
.bi_contact_information tr td:first-child .showType{
	background-color: #E8F1FA;
}
.bi_contact_information .bi_contact_left_lable{
	float: left;
	width:110px;
	height:50px;
	line-height: 50px;
	text-align: right;
}
.bi_contact_information td input{
	width:200px;
	height:22px;
	float:left;
    height: 22px;
    float: left;
    margin-top: 14px;
    background-color: #DCDCDD;
    border-bottom: 1px solid #605957;
    outline: none;
}
.bi_contact_information tr td:first-child input{
	background-color: #E8F1FA;
}

/****教育经历**/
.edu_exp_list{
	width:904px;
	box-sizing: border-box;
	border:1px solid #BBBBBB;
	margin-top: 36px;
}
.edu_exp_th{
	width:902px;
	height:20px;
	background-color: #595757;
	color:#ffffff;
	font-size: 14px;
	float:left;
	text-align: center;
}
.edu_exp_tr{
	float:left;
	width:902px;
	height:20px;
	background-color: #DCDCDD;
	font-size: 14px;
	margin-top: 6px;
	color:#231915;
}
.edu_exp_list .edu_exp_school_name{
	width:227px;
	height:14px;
	float:left;
	line-height: 14px;
	margin-top: 3px;
	box-sizing: border-box;
	border-right: 1px solid #ffffff;
}
.edu_exp_tr .edu_exp_school_name{
	text-indent: 16px;
}
.edu_exp_list .edu_exp_time{
	width:155px;
	height:14px;
	line-height: 14px;
	float:left;
	margin-top: 3px;
	box-sizing: border-box;
	border-right: 1px solid #ffffff;
}
.edu_exp_tr .edu_exp_time{
	text-align: center;
}
.edu_exp_list .edu_exp_subject{
	width:104px;
	height:14px;
	line-height: 14px;
	float:left;
	margin-top: 3px;
	box-sizing: border-box;
	border-right: 1px solid #ffffff;
}
.edu_exp_tr .edu_exp_subject{
	text-align: center;
}
.edu_exp_list .edu_exp_education{
	width:107px;
	height:14px;
	line-height: 14px;
	float:left;
	margin-top: 3px;
	box-sizing: border-box;
	border-right: 1px solid #ffffff;
}
.edu_exp_tr .edu_exp_education{
	text-align: center;
}
.edu_exp_list .edu_exp_opr{
	width:309px;
	height:14px;
	float:left;
	line-height: 14px;
	margin-top: 3px;
	box-sizing: border-box;
}
.edu_exp_tr .edu_exp_opr{
	height:20px;
	line-height: 20px;
	margin-top: 0px;
}
.edu_exp_opr span{
	width:100px;
	height:20px;
	float:right;
}
.edu_exp_opr span a{
	width:50px;
	height:20px;
	float:left;
	color:#3F6176;
	text-align: center;
	line-height: 20px;
}
.edu_exp_batch_opr{
	width:280px;
	height:20px;
	line-height: 20px;
	float:left;
	margin-top: 20px;
	margin-left:595px;
}
.edu_exp_batch_opr a{
	display: inline-block;
	float:left;
	width:100px;
	height:20px;
	text-align: center;
	line-height: 20px;
	box-sizing: border-box;
	float: left;
	border:1px solid #618EA3;
	color:#618EA3;
}
.edu_exp_batch_opr select{
	display: inline-block;
	width:165px;
	height:20px;
	text-align: center;
	line-height: 13px;
	box-sizing: border-box;
	border:1px solid #618EA3;
	color:#618EA3;
	float: right;
}
.add_edu_exp_title{
	width:100%;
	height:24px;
	line-height: 24px;
	margin-top: 27px;
	font-size: 18px;
}

.add_edu_exp_table tr{
	height:35px;
}
.add_edu_exp_table tr .add_edu_exp_lable{
	height:35px;
	width:100px;
	text-align: left;
}
.add_edu_exp_table tr .add_edu_exp_con{
	width:300px;
	height:35px;
	line-height: 35px;
}
.add_edu_exp_table tr .add_edu_exp_time{
	width:60px;
	height:15px;
	line-height: 15px;
	box-sizing: border-box;
	border:1px solid #645D5B;
	float:left;
}
.add_edu_exp_table tr span{
	float:left;
	width:36px;
	height:15px;
	line-height: 15px;
	display: inline-block;
	text-align: center;
}
.add_edu_school_name{
	width:254px;
	height:15px;
	box-sizing: border-box;
	border:1px solid #645D5B;
}
.add_edu_subject_name{
	width:254px;
	height:15px;
	box-sizing: border-box;
	border:1px solid #645D5B;
}
.add_edu_exp_education{
	width: 87px;
	box-sizing: border-box;
	height:15px;
}

.add_edu_exp_btng{
	width:147px;
	margin: 40px auto;
}
.add_edu_exp_btng a{
	display: inline-block;
	box-sizing: border-box;
	width: 50px;
	height:20px;
	border:1px solid #7E7D7D;
	text-align: center;
	line-height: 20px;
	background-color: #DCDCDD;
	float:left;
	color:#336D88;
}
.add_edu_exp_btng a:first-child{
	width: 80px;
	height:20px;
	margin-right: 17px;
}

/**工作经历**/
.work_exp_list{
	width:904px;
	box-sizing: border-box;
	border:1px solid #BBBBBB;
	margin-top: 36px;
}
.work_exp_th{
	width:902px;
	height:20px;
	background-color: #595757;
	color:#ffffff;
	font-size: 14px;
	float:left;
	text-align: center;
}
.work_exp_tr{
	float:left;
	width:902px;
	height:20px;
	background-color: #DCDCDD;
	font-size: 14px;
	margin-top: 6px;
	color:#231915;
}
.work_exp_list .work_exp_company_name{
	width:227px;
	height:14px;
	float:left;
	line-height: 14px;
	margin-top: 3px;
	box-sizing: border-box;
	border-right: 1px solid #ffffff;
}
.work_exp_tr .work_exp_company_name{
	text-indent: 16px;
}
.work_exp_list .work_exp_time{
	width:155px;
	height:14px;
	line-height: 14px;
	float:left;
	margin-top: 3px;
	box-sizing: border-box;
	border-right: 1px solid #ffffff;
}
.work_exp_tr .work_exp_time{
	text-align: center;
}
.work_exp_list .work_exp_position{
	width:104px;
	height:14px;
	line-height: 14px;
	float:left;
	margin-top: 3px;
	box-sizing: border-box;
	border-right: 1px solid #ffffff;
}
.work_exp_tr .work_exp_position{
	text-align: center;
}
.work_exp_list .work_exp_salary{
	width:107px;
	height:14px;
	line-height: 14px;
	float:left;
	margin-top: 3px;
	box-sizing: border-box;
	border-right: 1px solid #ffffff;
}
.work_exp_tr .work_exp_salary{
	text-align: center;
}
.work_exp_list .work_exp_opr{
	width:309px;
	height:14px;
	float:left;
	line-height: 14px;
	margin-top: 3px;
	box-sizing: border-box;
}
.work_exp_tr .work_exp_opr{
	height:20px;
	line-height: 20px;
	margin-top: 0px;
}
.work_exp_opr span{
	width:100px;
	height:20px;
	float:right;
}
.work_exp_opr span a{
	width:50px;
	height:20px;
	float:left;
	color:#3F6176;
	text-align: center;
	line-height: 20px;
}
.work_exp_batch_opr{
	width:280px;
	height:20px;
	line-height: 20px;
	float:left;
	margin-top: 20px;
	margin-left:595px;
}
.work_exp_batch_opr a{
	display: inline-block;
	float:left;
	width:100px;
	height:20px;
	text-align: center;
	line-height: 20px;
	box-sizing: border-box;
	float: left;
	border:1px solid #618EA3;
	color:#618EA3;
}
.work_exp_batch_opr select{
	display: inline-block;
	width:165px;
	height:20px;
	text-align: center;
	line-height: 13px;
	box-sizing: border-box;
	border:1px solid #618EA3;
	color:#618EA3;
	float: right;
}
.add_work_exp_title{
	width:100%;
	height:24px;
	line-height: 24px;
	margin-top: 27px;
	font-size: 18px;
}

.add_work_exp_table tr{
	height:35px;
}
.add_work_exp_table tr .add_work_exp_lable{
	height:35px;
	width:100px;
	text-align: left;
}
.add_work_exp_table tr .add_work_exp_con{
	width:300px;
	height:35px;
	line-height: 35px;
}
.add_work_exp_table tr .add_work_exp_time{
	width:60px;
	height:15px;
	line-height: 15px;
	box-sizing: border-box;
	border:1px solid #645D5B;
	float:left;
}
.add_work_exp_table tr span{
	float:left;
	width:36px;
	height:15px;
	line-height: 15px;
	display: inline-block;
	text-align: center;
}
.add_work_company_name{
	width:254px;
	height:15px;
	box-sizing: border-box;
	border:1px solid #645D5B;
}
.add_work_position_name{
	width:254px;
	height:15px;
	box-sizing: border-box;
	border:1px solid #645D5B;
}
.add_work_exp_salary{
	width: 87px;
	box-sizing: border-box;
	height:15px;
}

.add_work_exp_btng{
	width:147px;
	margin: 40px auto;
}
.add_work_exp_btng a{
	display: inline-block;
	box-sizing: border-box;
	width: 50px;
	height:20px;
	border:1px solid #7E7D7D;
	text-align: center;
	line-height: 20px;
	background-color: #DCDCDD;
	color:#336D88;
	float:left;
}
.add_work_exp_btng a:first-child{
	width: 80px;
	height:20px;
	margin-right: 17px;
}

/**文章管理**/
.bi_article_list{
	width:904px;
	box-sizing: border-box;
	border:1px solid #BBBBBB;
	margin-top: 36px;
}
.bi_article_th{
	width:902px;
	height:20px;
	background-color: #595757;
	color:#ffffff;
	font-size: 14px;
	float:left;
	text-align: center;
}
.bi_article_tr{
	float:left;
	width:902px;
	height:20px;
	background-color: #DCDCDD;
	font-size: 14px;
	margin-top: 6px;
	color:#231915;
}

.bi_article_list .bi_article_name{
	width:227px;
	height:14px;
	float:left;
	line-height: 14px;
	margin-top: 3px;
	box-sizing: border-box;
	border-right: 1px solid #ffffff;
}
.bi_article_list .bi_article_time{
	width:155px;
	height:14px;
	line-height: 14px;
	float:left;
	margin-top: 3px;
	box-sizing: border-box;
	border-right: 1px solid #ffffff;
}
.bi_article_tr .bi_article_name{
	text-indent: 16px;
}
.bi_article_tr .bi_article_time{
	text-align: center;
}

.bi_article_list .bi_article_opr{
	width:520px;
	height:14px;
	float:left;
	line-height: 14px;
	margin-top: 3px;
	box-sizing: border-box;
}
.bi_article_tr .bi_article_opr{
	height:20px;
	line-height: 20px;
	margin-top: 0px;
}
.bi_article_opr span{
	width:100px;
	height:20px;
	float:right;
}

.bi_article_opr span a{
	width:50px;
	height:20px;
	float:left;
	color:#3F6176;
	text-align: center;
	line-height: 20px;
}
.add_bi_article_btng{
	width:147px;
	margin: 40px auto;
}
.add_bi_article_btng a{
	display: inline-block;
	box-sizing: border-box;
	width: 50px;
	height:20px;
	border:1px solid #7E7D7D;
	text-align: center;
	line-height: 20px;
	background-color: #DCDCDD;
	color:#336D88;
	float:left;
}
.add_bi_article_btng a:first-child{
	width: 80px;
	height:20px;
	margin-right: 17px;
}

/**修改密码**/
.modify_pass_table{
	width:260px;
	margin-top: 13px;
}
.modify_pass_table tr .mp_left_lable{
	width:70px;
	height:25px;	
}
.modify_pass_table tr .mp_right_content{
	width:190px;
	height:25px;	
}
.modify_pass_table tr .mp_right_content input{
	width:190px;
	height:16px;
	outline: none;
	box-sizing: border-box;
	border: 1px solid #888686;
}
.modify_pass_table .sendbtn{
	display: inline-block;
	width:70px;
	height:15px;
	box-sizing: border-box;
	border:1px solid #7E7D7D;
	text-align: center;
	line-height: 13px;
	background-color: #DCDCDD;
	font-size: 12px;
	color:#3F6176;
	float:right;
}
.modify_pass_table .sendbtn:hover{
	background-color: #c6c6ce;
}
.modify_pass_table .sendbtn.disabled{
	background-color: #bdbdbd;
	color:#ffffff;
}
.modify_pass_btng{
	width:120px;
	margin: 51px auto;
}
.modify_pass_btng a{
	display: inline-block;
	width:50px;
	height:20px;
	box-sizing: border-box;
	border: 2px solid #A0A0A0;
	background-color: #DCDCDD;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	float:left;
	color:#336D88;
}
.modify_pass_btng a:first-child{
	margin-right: 20px;
}

/**等级加成***/
.bi_my_acc{
	width:1200px;
	height:420px;
	background-color: #EEEEEE;
	position: relative;
}
.bi_my_acc_title{
	width:100%;
	height:30px;
	background-color: #595757;
	color:#ffffff;
	line-height: 30px;
	text-indent: 15px;
	font-size: 15px;
}
.vip_logo_b{
	position: absolute;
	display: inline-block;
	border:1px solid red;
	width:22px;
	height:22px;
    top: 128px;
    left: 99px;
    border:1px solid #ffffff;
    border-radius: 50%;
    background: url(../images/vip22.png) no-repeat 0px 0px;
}
.bi_my_acc_user_img{
	width:111px;
	height:111px;
	float:left;
	margin-top:10px;
	margin-left: 14px;
	border-radius: 50%;
	border:3px solid #717070;
}
.bi_my_acc_info{
	width:1069px;
	height: 40px;
	line-height: 40px;
	float:left;
	margin-top:10px;
}
.bi_my_acc_user_mobile{
	display: inline-block;
	float:left;
	width:320px;
	text-indent: 20px;
	color:#231915;
	font-size: 15px;
	line-height: 40px;
	height: 40px;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.bi_my_acc_user_is_zc{
	display: inline-block;
	float:left;
	width:260px;
	text-indent: 20px;
	line-height: 40px;
	height: 40px;
	color:#231915;
	font-size: 15px;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.bi_my_acc_user_is_rz{
	display: inline-block;
	float:left;
	width:300px;
	text-indent: 20px;
	line-height: 40px;
	height: 40px;
	color:#231915;
	font-size: 15px;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.bi_my_acc_user_is_vip{
	display: inline-block;
	float:left;
	width:189px;
	height: 40px;
	text-indent: 20px;
	line-height: 40px;
	color:#231915;
	font-size: 15px;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.bi_my_acc_level{
	width:1030px;
	height:100px;
	float:left;
    margin-left: 18px;
    position: relative;
	background: url(../images/level_bg.png) no-repeat 0px 39px;
}
.bi_my_acc_current_level{
	display: inline-block;
	width: 70px;
	height:16px;
	line-height: 16px;
	text-align: center;
	position: absolute;
    top: 29px;
    left: -19px;
    display: none;
}
.bi_my_acc_current_level:after{
	content: "";
	display: inline-block;
	width:15px;
	height: 18px;
	position: absolute;
	top:18px;
	left:27px;
	color:#231915;
	background: url(../images/current_level_bg.png) no-repeat 0px 0px;
}
.bi_my_acc_level_line{
	width:1120px;
	height:60px;
	float:left;
	margin-left:30px;
	border-bottom:1px solid #8F8D8D;
}
.bi_my_invite_friends_num{
	width:1160px;
	height:175px;
	float:left;
	margin-left:14px;
	position: relative;
	background: url(../images/invite_num_bg.png) no-repeat 155px 64px;
}
.bi_my_invite_friends_num_title{
	float:left;
	width:175px;
	height:45px;
	font-size: 18px;
	line-height: 45px;
}
.bi_my_invite_friends_num_img{
	width:101px;
	height:101px;
	position: absolute;
	left:45px;
	bottom: 0;
}
.bi_my_invite_friends_current{
	width:120px;
	height: 16px;
	position: absolute;
	text-align: center;
	line-height: 16px;
	top:100px;
	left:50px;
	display: none;
}
.bi_my_invite_friends_current:after{
	content: "";
	display: inline-block;
	width:15px;
	height: 16px;
	position: absolute;
	top:16px;
	left:52px;
	color:#231915;
	background: url(../images/current_level_bg.png) no-repeat 0px 0px;
}
.my_acc_jc{
	width:1200px;
	height: 190px;
	margin: 56px auto 0;
}
.my_acc_jc_vip{
	width:550px;
	height:190px;
	float:left;
	border:1px solid #C9C9C9;
}
.my_acc_jc_total{
	width:550px;
	height:190px;
	float:right;
	border:1px solid #C9C9C9;
}
.my_acc_jc_title{
	width:550px;
	height:30px;
	color:#ffffff;
	background-color: #595757;
	line-height: 30px;
	text-indent: 24px;
}
.my_acc_jc_content{
	width:550px;
	height: 160px;
	z-index: 2;
	overflow: hidden;
	position: relative;
}
.my_acc_jc_pie_charts{
	width:370px;
	height:185px;
	margin-top: -11px;
	margin-left: -82px;
	z-index: -1;
	float:left;
}
.my_acc_jc_pie_calc{
	width:275px;
	position: absolute;
	height:160px;
	right:0;
	top:0;
}
.my_acc_jc_pie_calc_title{
	width:275px;
	height:16px;
	line-height: 16px;
	margin-top: 20px;
	color:#004B6E;
	text-indent: 9px;
	display: inline-block;
}
.my_acc_jc_pie_calc_total{
	width:275px;
	height:110px;
	line-height: 110px;
	text-align: center;
	line-height: 110px;
	font-size: 80px;
	color:#004B6E;
}
.my_acc_grow_level_intro{
	width:1200px;
	height:38px;
	line-height: 38px;
	font-size: 20px;
	text-indent: 14px;
	margin: 55px auto 0;
}
.my_acc_grow_level_intro_d{
	width:930px;
	height:200px;
	line-height: 200px;
	font-size: 19px;
	margin: 0 auto 0;
	text-align: center;
	color:#004B6E;
	border:1px dotted #004B6E;
}
.my_acc_vip_jc_intro{
	width:1200px;
	height:38px;
	line-height: 38px;
	font-size: 20px;
	text-indent: 14px;
	margin: 220px auto 0;
}
.my_acc_vip_jc_intro_d{
	width:930px;
	height:200px;
	line-height: 200px;
	font-size: 19px;
	margin: 0 auto 0;
	text-align: center;
	color:#004B6E;
	border:1px dotted #004B6E;
}