.fdb_ad{
	width:100%;
	min-height: 240px;
	border:1px dotted #C7C5C4;
}
.fdb_ad .place_holer_a{
	width:100%;
	height:240px;
	line-height: 240px;
	text-align: center;
	font-size: 18px;
	color: #000000;
}
.fdb_title{
	width:100%;
	height:25px;
	background-color: #DCDCDD;
	line-height: 25px;
}
.fdb_title .fdb_title_container{
	width:1060px;
	height:25px;
	line-height: 25px;
	margin: 0 auto;
}
.fdb_title .fdb_title_container .fdb_about_us{
	display: inline-block;
	float: left;
	width:275px;
	height:20px;
	line-height: 20px;
	border-left:3px solid #004B6E;
	margin-top: 2px;
	border-right:1px solid #BBBCBC; 
	text-indent: 4px;
}
.fdb_title .fdb_title_container .fdb_about_us span{
	margin-left:10px;
	color:#20A35A;
}
.fdb_title .fdb_title_container .fdb_feedback{
	display: inline-block;
	float: left;
	width:535px;
	height:20px;
	line-height: 20px;
	border-left:3px solid #004B6E;
	margin-top: 2px;
	text-indent: 4px;
	margin-left: 10px;
}
.fdb_title .fdb_title_container .fdb_feedback span{
	margin-left:10px;
	color:#20A35A;
}
.fdb_main_container{
	width:1060px;
	margin: 10px auto;
}
.fdb_main_container .fdb_left_about{
	width:265px;
	height:400px;
	font-size: 14px;
	color: #15405A;
	font-family: "黑体";
	line-height: 24px;
	padding: 10px;
	float:left;
	border:1px dotted black;
}
.fdb_main_container .fdb_right_content{
	width:780px;
	min-height: 400px;
	float: left;
	margin-left: 10px;
	border-style: solid;
	border-width: 0 4px 0 4px;
	border-color: #BBBCBC;
}
.fdb_main_container .fdb_right_content .fdb_list{
	width:780px;
	min-height:300px;
	display: block;
	list-style: none;
}
.fdb_main_container .fdb_right_content .fdb_item{
	width:390px;
	height:100px;
	float:left;
	/*border:1px solid red;*/
}
.fdb_main_container .fdb_right_content .fdb_item_title{
	display: block;
	width:300px;
	height:30px;
	line-height: 30px;
	color:#004B6E;
	font-size: 17px;
	text-indent: 20px;
	position: relative;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
	text-decoration: underline;
}
.fdb_main_container .fdb_right_content .fdb_item_title:before{
	width:5px;
	height:5px;
	background-color: #4F95C6;
	border-radius: 50%;
	content: "";
	display: inline-block;
	left:10px;
	top:14px;
	position: absolute;
}
.fdb_item_nums{
	width:300px;
	height:30px;
	line-height: 30px;
	font-size: 13px;
	color:#929292;
}
.fdb_item_nums span{
	display: inline-block;
}
.fdb_item_nums .fdb_user{
	width:100px;
	height:30px;
	margin-left: 20px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
}
.fdb_item_nums .fdb_read{
	width:100px;
	height:30px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
}
.fdb_item_nums .fdb_reply{
	width:70px;
	height:30px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
}
.fdb_item_content{
	width:300px;
	margin-left: 20px;
	height:30px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
    font-size: 15px;
}
.fdb_btn{
	width:780px;
	height:100px;
}
.fdb_btng{
	width:300px;
	height:100px;
	float:right;
}
.fdb_btng a{
	display: inline-block;
	width:60px;
	height:60px;
	border-radius: 50%;
	background-color: #004B6E;
	color:#ffffff;
	margin-left: 20px;
	float:left;
	font-size: 20px;
}
.fdb_btng a.fdb_more{
	line-height: 60px;
	text-align: center;
}
.fdb_btng a.fdb_feed{
	line-height: 25px;
	text-indent: 1px;
	padding: 0 10px;
	text-align: center;
}


.fdbm_title{
	width:1060px;
	height:25px;
	margin: 0 auto;
	background-color: #DCDCDD;
}
.fdbm_title_a{
	display: inline-block;
	float: left;
	width:535px;
	height:20px;
	color:#004B6E;
	line-height: 20px;
	border-left:3px solid #004B6E;
	margin-top: 2px;
	text-indent: 4px;
	margin-left: 10px;
}
.fdbm_title_a span{
	margin-left:10px;
	color:#20A35A;
}
.fdbm_pg{
	float:right;
}
.fdbm_pg a{
	float:left;
	padding: 0 10px;
	height:25px;
	line-height: 25px;
	color:#004B6E;
}
.fdbm_list{
	width:1060px;
	list-style: none;
	margin: 20px auto;
}
.fdbm_item{
	width:1060px;
	display: block;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #F0F0F0;
}
.fdbm_item .fdbm_item_title{
	display: block;
	width:1060px;
	height:30px;
	line-height: 30px;
	color:#004B6E;
	font-size: 17px;
	text-indent: 20px;
	position: relative;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
	text-decoration: underline;
}
.fdbm_item .fdbm_item_title:before{
	width:5px;
	height:5px;
	background-color: #4F95C6;
	border-radius: 50%;
	content: "";
	display: inline-block;
	left:10px;
	top:14px;
	position: absolute;
}
.fdbm_item_nums{
	max-width:1060px;
	height:20px;
	line-height: 20px;
	font-size: 13px;
	color:#929292;
}
.fdbm_item_nums span{
	display: inline-block;
}
.fdbm_item_nums .fdbm_user{
	max-width:300px;
	padding: 0 10px;
	height:20px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
}
.fdbm_item_nums .fdbm_read{
	padding: 0 10px;
	height:20px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
}
.fdbm_item_nums .fdbm_reply{
	padding: 0 10px;
	height:20px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
}
.fdbm_item_content{
	padding: 0 10px;
	height:30px;
	line-height: 30px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
    font-size: 15px;
}
.fdbm_item_reply_user{
	width:900px;
	height:20px;
	line-height: 20px;
	color:#929292;
	padding: 0 10px;
	font-size: 13px;
}
.fdbm_item_reply_content{
	width:1060px;
	line-height: 22px;
	font-size: 15px;
	padding: 0 10px;
}
.fdbm_btn{
	width:1060px;
	height:100px;
	margin: 0 auto;
}
.fdbm_btn .fdbm_feed{
	line-height: 25px;
	text-indent: 1px;
	padding: 0 10px;
	text-align: center;
	display: inline-block;
	width:60px;
	height:60px;
	border-radius: 50%;
	background-color: #004B6E;
	color:#ffffff;
	margin-left: 20px;
	float:left;
	font-size: 20px;
	float:right;
	margin-right: 80px;
}


.fdbm_s_title{
	width:1060px;
	height:25px;
	margin: 0 auto;
	background-color: #DCDCDD;
}
.fdbm_s_title_a{
	display: inline-block;
	float: left;
	width:535px;
	height:20px;
	color:#004B6E;
	line-height: 20px;
	border-left:3px solid #004B6E;
	margin-top: 2px;
	text-indent: 4px;
	margin-left: 10px;
}
.fdbm_s_title_a span{
	margin-left:10px;
	color:#20A35A;
}
.fdbm_s_return{
	text-decoration: underline;
	float:right;
	padding: 0 10px;
	height:25px;
	line-height: 25px;
	color:#004B6E;
}
.fdbm_s_item{
	width:1060px;
	margin: 30px auto 0;
	display: block;
}
.fdbm_s_item .fdbm_s_item_title{
	display: block;
	width:1060px;
	height:30px;
	line-height: 30px;
	color:#004B6E;
	font-size: 17px;
	text-indent: 20px;
	position: relative;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
    border-bottom: 1px solid #929292;
}
.fdbm_s_item .fdbm_s_item_title:before{
	width:5px;
	height:5px;
	background-color: #4F95C6;
	border-radius: 50%;
	content: "";
	display: inline-block;
	left:10px;
	top:14px;
	position: absolute;
}
.fdbm_s_item_nums{
	max-width:1060px;
	height:20px;
	line-height: 20px;
	font-size: 13px;
	color:#929292;
}
.fdbm_s_item_nums span{
	display: inline-block;
}
.fdbm_s_item_nums .fdbm_s_user{
	max-width:300px;
	padding: 0 10px;
	height:20px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
}
.fdbm_s_item_nums .fdbm_s_time{
	padding: 0 10px;
	height:20px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
}
.fdbm_s_item_content{
	padding: 0 10px;
	min-height:220px;
	line-height: 30px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
    font-size: 15px;
}
.fdbm_s_item_reply{
	border-top: 1px solid #929292;
	background-color: #F5F9FC;
	border-bottom: 1px solid #929292;
}
.fdbm_s_item_reply_time{
	width:1060px;
	height:20px;
	line-height: 20px;
	color:#929292;
	padding: 0 10px;
	font-size: 13px;
}
.fdbm_s_item_reply_user{
	width:1060px;
	height:20px;
	line-height: 20px;
	color:#929292;
	padding: 0 10px;
	font-size: 13px;
}
.fdbm_s_item_reply_content{
	width:1060px;
	line-height: 22px;
	font-size: 15px;
	padding: 20px 10px 30px;
}
.fdba_banner{
	width:100%;
	height:90px;
	background: url(../images/fdba_banner.png);
	font-size: 0;
	padding-top:1px;
}
.fdba_tips{
	width:1060px;
	height:30px;
	line-height: 30px;
	margin: 50px auto 0;
}
.fdba_tips span{
	float:left;
	font-size: 15px;
	color:#335977;
}
.fdba_tips a{
	float:right;
	font-size: 14px;
	color:#335977;
	text-decoration: underline;
}
.fdba_apply_form{
	width:1060px;
	margin:20px auto;
}
.fdba_apply_row{
	width:1060px;
}
.fdba_apply_label{
	width:200px;
	line-height: 30px;
	float:left;
	text-align: right;
	padding-right: 10px;
}
.fdba_apply_label1{
	width:200px;
	height: 50px;
	float:left;
	text-align: right;
	padding-right: 10px;
}
.fdba_apply_content{
	width:860px;
	float:left;
}
.fdba_apply_content input[type='text']{
	width:500px;
	height:25px;
	float:left;
	margin-top: 2px;
	outline: none;
	border:1px solid #dddddd;
}
.fdba_apply_content button{
	width:100px;
	height:40px;
	float:left;
	margin-top: 5px;
	margin-right: 10px;
	border:1px solid #A2C0D7;
	border-radius: 4px;
	outline: none;
	background: -moz-linear-gradient(top, #F7FCFF 0%, #BDD9EF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7FCFF), color-stop(100%,#BDD9EF));
    background: -webkit-linear-gradient(top, #F7FCFF 0%,#BDD9EF 100%);
    background: -o-linear-gradient(top, #F7FCFF 0%,#BDD9EF 100%);
    background: -ms-linear-gradient(top, #F7FCFF 0%,#BDD9EF 100%);
    background: linear-gradient(to bottom, #F7FCFF 0%,#BDD9EF 100%);
}
.fdba_apply_content button:active{
	background: -moz-linear-gradient(top, #F7FCFF 0%, #A5B7C4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7FCFF), color-stop(100%,#A5B7C4));
    background: -webkit-linear-gradient(top, #F7FCFF 0%,#A5B7C4 100%);
    background: -o-linear-gradient(top, #F7FCFF 0%,#A5B7C4 100%);
    background: -ms-linear-gradient(top, #F7FCFF 0%,#A5B7C4 100%);
    background: linear-gradient(to bottom, #F7FCFF 0%,#A5B7C4 100%);
}
