*{
	padding: 0;
	margin: 0;
	border: 0;
}
body{
	min-width: 1170px;
}
.none{
	display: none;
}
/* project id 330079 */
@font-face {
    font-family: 'iconfont';  
    src: url('//at.alicdn.com/t/font_aa6iit02ajcnb3xr.eot');
    src: url('//at.alicdn.com/t/font_aa6iit02ajcnb3xr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_aa6iit02ajcnb3xr.woff') format('woff'),
    url('//at.alicdn.com/t/font_aa6iit02ajcnb3xr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_aa6iit02ajcnb3xr.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,span{
	display: inline-block;
}
/*span.iconfont{
	position: absolute;
    right: 5px;
    color: #000;
    font-size: 25px;
    cursor: pointer;
}*/
ul li{
    list-style: none;
}
a:hover{
    text-decoration: none;
}
.clear{
	clear: both;
}
/*#logo{
    width: 95px;
   margin-top: -13px;
}*/


/**首页头部**/
.header{
	background-color: #000;
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 17px;
}
.in_width{
	width:1170px;
	margin: 0 auto;
}
.logo_link{
	display: inline-block;
	height:60px;
	float:left;
}
.logo{
	width: 95px;
	float:left;
	margin-left: 54px;
	margin-top: 9px;
}
.header_select_link{
	width:130px;
	height:60px;
	float:left;
    margin-left: 108px;
    cursor: pointer;
	color:#ffffff;
	font-size: 14px;
}
.header_select_link_a{
	display: inline-block;
	box-sizing: border-box;
	width:130px;
	height:60px;
	line-height: 60px;
	text-align: center;
	color:#ffffff;
}
.header_select_link:hover .header_select_link_a{
	border-bottom: 4px solid #3D9BFF;
	color:#ffffff;
}
.search_input_box{
	float:left;
	width: 275px;
    height:60px;
    margin-left: 47px;
    position: relative;
}
#search{
    width: 275px;
    height: 37px;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    padding: 5px 30px 5px 5px;
    margin-top:11px;
    font-size: 14px;
}
.searchbtn{
	display: inline-block;
	width:37px;
	height:37px;
	position: absolute;
	top:11px;
	right:0;
	cursor: pointer;
	background: url(../images/search1.png) no-repeat 6px 6px;
}
.area{
	width:180px;
	height:60px;
	text-align: center;
	line-height: 60px;
	color:#ffffff;
	float: left;
	font-size: 14px;
	cursor:pointer;
	margin-left: 30px;
}
.area_text{
	display: inline-block;
	width:160px;
	height:60px;
	text-align: center;
	line-height: 60px;
	font-size: 14px;
	color:#ffffff;
	box-sizing: border-box;
}
.area:hover .area_text{
	border-bottom: 4px solid #3D9BFF;
	color:#ffffff;
}
.user_info{
	float:right;
	width:130px;
	height:60px;
	margin-right: 45px;
}
.user_info i{
	display: inline-block;
	width:130px;
	height:60px;
	box-sizing: border-box;
	line-height: 60px;
	cursor: pointer;
	background: url(../images/user_icon.png) no-repeat 50px 15px;
}
.user_info:hover i{
	border-bottom: 4px solid #3D9BFF;
}
.carousel{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.carousel_container{
	width:9999px;
	margin-left: 0;
}
.carousel_item{
	float:left;
}
.carousel_item img{
	width:100%;
}

.carousel-indicators_wrap{
	width:100%;
	height:4px;
	position: absolute;
	top:15px;
}
.carousel-indicators_wrap .carousel-indicator{
	width:228px;
	height:6px;
	margin: 0 auto;
}
.carousel-indicators_item{
	width:60px;
	height:6px;
	margin: 0 8px;
	display: inline-block;
	float:left;
	background-color: #D0D0D0;
	cursor: pointer;
}
.carousel-indicators_item:hover{
	background-color: #333;
}
.carousel-indicators_item.cur{
	background-color: #333;
}
/*****/



.find{
    background-color: #F5F6F6;
    width: 100%;
    height: 400px;
}
.find h2,.fing_one h2{
    text-align: center;

}
.one{
    width: 270px;
    height: auto;
    text-align: center;
    float: left;
    margin-left: 30px;
}
.find h5{
    color: #BABBBB;
    height: 63px;
    width:270px;
}
.find h3{
    height: 38px;
    width:270px;
}
.find ul li{
    float: left;
    margin-left: 10px;
}
.find ul li a{
    color: #4ED0E8;
}
.pad{
    padding: 40px 100px;
}
.find_info{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.footer{
    background-color: #000;
    width: 100%;
    height: 200px;
}
.footer_container{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width:1170px;
}
.footer ul li{
    float: left;
    margin-left: 10px;
}
.footer ul li a{
    color: #656565;
}
.footer_info{
    padding-top: 50px;

}
.last{
    margin-top: 10px;
}
.js{
    display: flex;
    justify-content: center;
}
.fing_one{
    background-color: #fff;
}

.one_menu>li:nth-child(2):hover>a{
    border-bottom: 4px solid #3D9BFF;
    line-height: 52px;
    border-top: 4px transparent solid;
}
.two_menu{
	position: absolute;
    z-index: 10;
    background: rgba(0,0,0,.8);
    color:#fff;
    display: none;
}
.sCenter{
    position: absolute;
    top:0;
    left: 220px;
    width: 330px;
    height: 330px;
    background: rgba(0,0,0,.8);
    display: none;
    z-index: 11;
}

ul.two_menu li a{

}


.fixBox{
    position: absolute;
    top:60px;
    left:0;
    background: rgba(0,0,0,.8);
    z-index: 16;
    display: none;
}
.fixCenter{
    height: 100%;
    position: relative;
}
.area .fixCenter{
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.BNav{
    height: 100%;
    margin: 0 auto;
    width: 360px;
}
.BNav span{
    display: inline-block;
    width: 120px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background: #505050;
    vertical-align: middle;
    cursor: pointer;
}
.BNav i{
    line-height: 1em;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.BNav span:nth-child(2){
    background: #3c3c3c;
}
.BNav span:hover{
    background: #3D9BFF;
}

.navCenter{
	padding-top: 20px;
    height: 100%;
    display: none;
}
.navName{
    float: left;
    width: 160px;
    line-height: 40px;
    text-align: center;
}

.navCenterBox{
    float: right;
    height: 100%;
    overflow: auto;
    width: calc(100% - 161px);
}
.navCenterListCenter{
    display: inline-block;
    right: 0;
    line-height: normal;
    text-align: left;
    display: none;
}
.navCenterList{
    line-height: normal;
    width: 185px;
    float: left;
}
.navCenterList:after{
    content:" ";
    clear: both;
    display: block;
}
.navCenterList span{
    width: 186px;
    margin: 5px 0;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
}
.navCenterList span:hover{
    background: #3D9BFF;
}

.navCenterList div{
    float: right;
    width: calc(100% - 220px);
    text-align: left;
}
.navRightBox{
    width: 725px;
    height: 100%;
    position: absolute;
    right: 54px;
    top: 0px;
    padding-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
.navCenterListCenter{
	width: 710px;
}
.navCenterListCenter i{
    display: inline-block;
    padding: 0 20px;
    background: #4f4f4f;
    line-height: 30px;
    text-align: center;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    vertical-align: top;
    margin: 5px;
    cursor: pointer;
}
.navCenterListCenter i:hover{
    background: #3D9BFF;
}
/*地区选择*/
.section_warpper{
    width: 1025px;
    /*border: 1px solid #ffffff;*/
    margin-left: 35px;
}
.section_warpper:first-child{
	margin-top: 20px;
}
.section_warpper .area_section{
	float:left;
	width:100px;
	height:30px;
	margin:5px 0;
	text-align: left;
	line-height: 30px;
	position: relative;
	cursor: pointer;
}
.section_warpper .area_section:after{
	content: ">";
	position: absolute;
	width:30px;
	height:30px;
	right:0;
	top:0;
	text-align: center;
	line-height: 30px;
}
.section_warpper .province_wrapper_container{
	width:925px;
	float:left;
}
.section_warpper .province_wrapper_container .province_wrapper{
	width:925px;
}
.province_wrapper .area_province{
	float:left;
	width:100px;
	height:30px;
	margin:5px 0;
	text-align: left;
	line-height: 30px;
	padding-left: 20px;
	background-color: #3C3C3C;
	position: relative;
	cursor: pointer;
}
.province_wrapper .area_province:after{
	content: ">";
	position: absolute;
	width:30px;
	height:30px;
	right:0;
	top:0;
	text-align: center;
	line-height: 30px;
}
.province_wrapper .area_province_empty{
	float:left;
	width:100px;
	height:30px;
	margin:5px 0;
	line-height: 30px;
	padding-left: 20px;
}
.province_wrapper .city_wrapper{
	float:left;
	width:815px;
	margin-left: 10px;
}
.province_wrapper .city_wrapper .city_item{
	float:left;
	width:68px;
	margin:5px 2px;
	background-color: #505050;
	height:30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}
.province_wrapper .city_wrapper .city_item.current{
	background-color: #00C0DC;
}
.province_wrapper .city_wrapper .city_item:hover{
	background-color: #00C0DC;
}


/**登录注册***/
.fixBox .login_form{
	width:250px;
	height:120px;
	color:#ffffff;
	margin-top: -60px;
	margin-left: -125px;
	position: absolute;
	top:50%;
	left:50%;
}
.fixBox .login_form tr{
	height:25px;
	line-height: 25px;
}
.fixBox .login_form td:first-child{
	width:100px;
	height:25px;
	text-align: right;
	line-height: 25px;
}
.fixBox .login_form td:nth-child(2){
	width:150px;
	height:20px;
	line-height: 20px;
}
.fixBox .login_form td:nth-child(2) input{
	width:100px;
	margin-left: 40px;
	height:20px;
	line-height: 20px;
	border: none;
	border-bottom: 1px solid #ffffff;
	background-color: transparent;
	outline: none;
}
.login_form .reg_btn{
	width:70px;
	height:25px;
	line-height: 25px;
	text-align: center;
	color: #ffffff;
	float:right;
	background-color: #01BDE0;
	cursor: pointer;
}
.login_form .login_btn{
	width:90px;
	height:25px;
	line-height: 25px;
	text-align: center;
	color: #ffffff;
	float:left;
	margin-left: 50px;
	background-color: #505050;
	cursor: pointer;
}
.login_form .reg_btn:hover{
	background-color: #1C8EA2;
}
.login_form .login_btn:hover{
	background-color: #393939;
}

/***注册**/
.fixBox .reg_form{
	width:360px;
	height:240px;
	color:#ffffff;
	margin-top: -140px;
	margin-left: -180px;
	position: absolute;
	top:50%;
	left:50%;
}
.fixBox .reg_form tr{
	height:40px;
	line-height: 40px;
	color:#ffffff;
	width:300px;
}
.fixBox .reg_form td:first-child{
	width:100px;
	height:25px;
	text-align: right;
	line-height: 25px;
}
.fixBox .reg_form td:nth-child(2){
	width:260px;
	height:20px;
	line-height: 20px;
}
.fixBox .reg_form td:nth-child(2) input{
	width:100px;
	margin-left: 40px;
	height:20px;
	line-height: 20px;
	border: none;
	border-bottom: 1px solid #ffffff;
	background-color: transparent;
	outline: none;
}
.fixBox .reg_form td .sendconf{
	display: inline-block;
	width:80px;
	height:25px;
	text-align: center;
	line-height: 25px;
	background-color: #505050;
	margin-left: 20px;
	cursor: pointer;
}
.fixBox .reg_form td .sendconf:hover{
	background-color: #393939;
}
.fixBox .reg_form td .sendconf.disabled{
	background-color: #D0D0D0;
}
.reg_form .reg_btn{
	width:70px;
	height:25px;
	line-height: 25px;
	text-align: center;
	color: #ffffff;
	float:right;
	background-color: #01BDE0;
	cursor: pointer;
}
.reg_form .login_btn{
	width:90px;
	height:25px;
	line-height: 25px;
	text-align: center;
	color: #ffffff;
	float:left;
	margin-left: 40px;
	background-color: #505050;
	cursor: pointer;
}
.reg_form .reg_btn:hover{
	background-color: #1C8EA2;
}
.reg_form .login_btn:hover{
	background-color: #393939;
}



/***user**/
.user_main{
	width:1170px;
	height:195px;
	margin: 15px auto 0;
}

.user_main img.userImg{
	width:190px;
	height:190px;
	float:left;
}
.user_main .user_desc{
	width:978px;
	display: inline-block;
	height: 190px;
	margin-left:2px;
	background-color: #EEEEEE;
	float:left;
	position: relative;
}
.user_desc .user_title{
	width:140px;
	height:190px;
	float:left;
}
.user_desc .user_title .user_desc_name{
	display: block;
	width:140px;
	height:35px;
	line-height: 35px;
	font-size: 27px;
	color:#343132;
	text-indent: 15px;
	margin-top: 10px;
}
.user_desc .user_title .user_desc_name.cert i{
	display: inline-block;
	width:16px;
	height:16px;
	position: relative;
	top:4px;
	background: url(../images/cert.png) no-repeat 0px 0px;
}
.user_desc .user_title .user_title_name{
	display: block;
	width:140px;
	height:25px;
	line-height: 25px;
	font-size: 15px;
	text-indent: 15px;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.user_desc .user_title .user_title_area{
	display: block;
	width:140px;
	height:25px;
	line-height: 25px;
	font-size: 15px;
	white-space:nowrap;
    overflow:hidden;
    text-indent: 15px;
    text-overflow:ellipsis;
}
.user_desc .user_title .user_title_choose{
	width:100px;
	height:25px;
	position: absolute;
	bottom: 20px;
	left: 15px;
}
.user_desc .user_title .user_title_choose span{
	width:78px;
	height:25px;
	line-height: 25px;
	text-align: center;
	font-size: 15px;
	display: inline-block;
	float:left;
	background-color: #044D6C;
	color:#ffffff;
}
.user_desc .user_title .user_title_choose i{
	cursor: pointer;
	width:20px;
	height:25px;
	display: inline-block;
	margin-left: 2px;
	float:left;
	background: url(../images/arr_down16.png) no-repeat 2px 4px;
	background-color: #044D6C;
}
.user_desc .user_contact_info{
	width:224px;
	height:190px;
	float:left;
	font-size: 15px;
}
.user_desc .user_contact_info .uci_row{
	width:224px;
	height:21px;
	line-height: 21px;
}
.user_desc .user_contact_info .uci_row:first-child{
	margin-top: 10px;
}
.user_desc .user_contact_info .uci_row .uci_label1{
	display: inline-block;
	height:21px;
	line-height: 21px;
	width:40px;
	float:left;
}
.user_desc .user_contact_info .uci_row .uci_info1{
	display: inline-block;
	height:21px;
	line-height: 21px;
	width:160px;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    float:left;
}
.uci_info1 .wetchat_name{
	display: inline-block;
	max-width: 130px;
	height:21px;
	float:left;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color:#847AB7;
}
.uci_info1 .wetchat_img{
	display: inline-block;
	cursor: pointer;
	float:left;
	margin-left: 4px;
}
.user_desc .user_contact_info .uci_row .uci_label2{
	display: inline-block;
	height:21px;
	line-height: 21px;
	width:70px;
	float:left;
}
.user_desc .user_contact_info .uci_row .uci_info2{
	display: inline-block;
	height:21px;
	line-height: 21px;
	width:130px;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    float:left;
}
.user_exp_info{
	width:390px;
	height:190px;
	float:left;
}
.user_exp_info .user_exp_info_title{
	width:390px;
	height:21px;
	line-height: 21px;
	text-align: left;
}
.user_exp_info .user_info_row{
	width:390px;
	height:21px;
	line-height: 21px;
	text-align: left;
	font-size: 15px;
}
.user_exp_info .user_exp_info_title:first-child{
	margin-top: 10px;
}
.user_exp_info .user_info_row .user_info_row_time{
	display: inline-block;
	float: left;
	width:100px;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.user_exp_info .user_info_row .user_info_row_desc{
	display: inline-block;
	float: left;
	width:190px;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.user_exp_info .user_info_row .user_info_row_title{
	display: inline-block;
	float: left;
	width:100px;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.user_lables{
	width:1170px;
	margin: 0px auto;
}
.user_lables i{
	display: inline-block;
	float:left;
	height:30px;
	line-height: 30px;
	/*text-align: center;*/
	font-size: 16px;
	padding: 0 34px;
	cursor: pointer;
	margin: 0 3px 5px;
	background-color: #EEEEEE;
	color:#333;
}
.user_lables i.dark_gray{
	background-color: #C8C9C9;
}
.user_lables i.dark_green{
	background-color: #004B6E;
	color:#ffffff;
}
.user_content_list{
	width:1170px;
	/*border:1px solid red;*/
	margin: 0 auto;
}
.user_content_div{
	float:left;
	width:484px;
	height:270px;
	margin: 0 50px;
	/*border:1px solid red;*/
	box-sizing: border-box;
}
.user_content_div .uct_title{
	width:480px;
	height:30px;
	color:#004B6E;
	font-size: 18px;
	margin-top: 15px;
}
.user_content_div .uct_title .uci_i{
	max-width:400px;
	height:30px;
	line-height: 30px;
	color:#2569A6;
	font-size: 18px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
    display: inline-block;
    float:left;
}
.user_content_div .uct_title i{
	float:left;
	display: inline-block;
	height: 20px;
	padding: 0px 5px;
	border:1px solid #E4E1E2;
	line-height: 20px;
	font-size: 12px;
	color:red;
	margin-left: 5px;
	position: relative;
}
.user_content_div .uct_title i:before{
	content: "";
	display: inline-block;
	width:5px;
	height:5px;
	border-style: solid;
	border-width: 1px 1px 0 0;
	border-color: #E4E1E2;
	position: absolute;
	bottom: -3px;
	left:3px;
	background-color: #ffffff;
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg); 
    -moz-transform: rotate(135deg); 
    -o-transform: rotate(135deg); 
}
.user_content_div  .uct_c{
	width:480px;
	height:40px;
	line-height: 20px;
	font-size: 16px;
	color:#7C7C7C;
	position: relative;
}
.user_content_div .uct_c_time{
	position: absolute;
	bottom: 0;
	right:0;
	display: inline-block;
	width:125px;
	height:20px;
	line-height: 20px;
	font-size: 14px;
	color:#D5D6D6;
	background: url(../images/timeicon.png) no-repeat 0px 2pxpx;
	text-indent: 20px;
}
.uct_lables{
	width:480px;
	height:24px;
	font-size: 16px;
	overflow: hidden;
	margin-top: 5px;
}
.uct_lables i{
	display: inline-block;
	padding: 0 5px;
	height:24px;
	line-height: 24px;
	color:#ffffff;
	border-radius: 2px;
	background-color: #EF8200;
}
.uct_lables i.dark_green{
	display: inline-block;
	color:#ffffff;
	padding: 0 5px;
	background-color: #004B6E;
}
.uct_imgs{
	width:480px;
	margin-top: 10px;
}
.uct_imgs img{
	width:150px;
	height:100px;
	margin: 0 10px 0 0;
	float:left;
}
