.sc_ad_pos{
	width:1200px;
	height:130px;
	border:1px dotted #dddddd;
	margin: 0 auto;
}
.sc_ad_pos_img{
	width:146px;
	height:130px;
	margin: 0px auto;
	display: block;
}
.sc_title{
	width:1200px;
	height:30px;
	margin: 0 auto;
	background-color: #DCDCDD;
	color:#004E6E;
}
.sc_title span{
	width:240px;
	cursor: pointer;
	padding-left: 40px;
	padding-right: 40px;
	display: inline-block;
	height:30px;
	float:left;
	border-left:1px dotted #C0C1C1; 
}
.sc_title span:first-child{
	border-left:none;
}
.sc_title span.sc_title_item.active{
	background-color: #EEEEEE;
}
.sc_title span.sc_title_item a{
	display: inline-block;
	height:18px;
	line-height: 18px;
	padding-left: 10px;
	margin-top: 6px;
	border-left:4px solid #004B6E;
	font-size: 20px;
	color:#004E6E;
}
.sc_content{
	width:1200px;
	margin: 0 auto;
}
.sc_content_in{
	width:100%;
}
.sc_content_in_list{
	width:100%;
	height:486px;
	background-color: #EDEDEF;
}
.sc_content_item{
	float:left;
	box-sizing: border-box;
	width:150px;
	height:486px;
}
.sc_content_item_lable:hover{
	color:#ffffff;
	background-color: rgb(0,190,220);
}
.sc_content_item_lable:active{
	color:#ffffff;
}
.sc_content_item_lable:visited{
	color:#ffffff;
}
.sc_content_item_lable.more:after{
	position: absolute;
	content: "更多";
	top:0;
	right:4px;
	width: 40px;
	height:10px;
	font-size: 12px;
	text-align: center;
	line-height: 10px;
	background-color: red;
	border-radius: 5px;
}
.sc_content_item_lable{
	width: 122px;
	height:35px;
	display: block;
	border-radius: 17px;
	background-color: #004B6E;
	margin: 12px 14px;
	text-align: center;
	line-height: 35px;
	color: #ffffff;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
}
.sc_user_list{
	width: 150px;
	height:407px;
	box-sizing: border-box;
	border-right: 2px solid #9E9F9F;
	list-style: none;
	position: relative;
}
.sc_user_list .sc_user_item{
	width: 150px;
	height:98px;
	float: left;
}
.sc_content_item:nth-of-type(8) .sc_user_list{
	border-right:none;
}
.sc_user_list .sc_user_item.user_vip .sc_user_name:after{
	content: "";
	display: inline-block;
	position: absolute;
    top: 52px;
    left: 88px;
	width: 12px;
	height:12px;
	border:1px solid #ffffff;
	background: url(../images/vip12.png) no-repeat 0 0;
	background-color: #ffffff;
	border-radius: 50%;
}
.sc_user_list .sc_user_item .sc_user_logo{
	display: block;
	width:60px;
	height:60px;
	border-radius: 50%;
	border:3px solid #717070;
	margin: 0 auto;
}
.sc_user_list .sc_user_item .sc_user_name{
	width:150px;
	height:20px;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
}
.my_sc_title{
	width:1200px;
	height:228px;
	margin: 0 auto;
}
.my_sc_title .my_sc_title_img{
	width:164px;
	height:228px;
	margin-left: 168px;
	float:left;
}
.my_sc_title span{
	display: inline-block;
	font-size: 26px;
    margin-left: 40px;
    margin-top: 60px;
	float:left;
}
.subscript_my_user{
	width:1200px;
	min-height: 300px;
	border:1px solid #BAD8CC;
	border-radius: 30px;
	background-color: #E5F3E6;
}
.subscript_my_user_title{
	width:292px;
	height:42px;
	background-color: #014B6E;
	color:#ffffff;
	font-size: 18px;
	text-align: center;
	line-height: 42px;
    border-radius: 21px 0px 42px 0;
}
.subscript_my_user_container{
	width:1152px;
	margin: 10px 24px 0;
}
.subscript_my_user_item{
	width:96px;
	height:102px;
	float: left;
	position: relative;
}
.subscript_my_user_logo{
	width:56px;
	height:56px;
	display: block;
	margin: 0 auto;
    border:3px solid #717070;
	border-radius: 50%;
}
.subscript_my_user_name{
	width:96px;
	height:20px;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
    font-size: 14px;
}
.subscript_my_user_item.user_vip .subscript_my_user_name:after{
	content: "";
	display: inline-block;
	position: absolute;
    top: 48px;
    left: 62px;
	width: 12px;
	height:12px;
	border:1px solid #ffffff;
	background: url(../images/vip12.png) no-repeat 0px 0px;
	background-color: #ffffff;
	border-radius: 50%;
}
.scm_title{
	width:1200px;
	height:30px;
	line-height: 30px;
	background-color: #EEEEEE;
	margin: 0 auto;
	font-size: 15px;
	color:#014B6E;
}
.scm_title_text{
	margin-left: 20px;
	text-decoration: underline;
	color: #38718C;;
}
.scm_title_text:hover{
	text-decoration: underline;
}

.scm_title_label{
	color:#2F556C;
}
.scm_pg{
	float:right;
	height:30px;
	line-height: 30px;
}
.scm_pg a{
	color:#0F3B56;
	padding: 0 5px;
}
.scm_pg a.pre{
	text-decoration: underline;
}
.scm_pg a.next{
	text-decoration: underline;
}
.scm_user_list_wrap{
	width:826px;
	margin: 0 auto;
	overflow-x:hidden;
}
.scm_user_list{
	width:900px;
	height:564px;
	margin: 20px auto 0;
	list-style: none;
	float:left;
	margin-left: -37px;
    border-bottom: 2px solid #ffffff;
	background: url(../images/morebg_ling.png) 0 1px;;
}
.scm_user_list li.scm_user_item{
	width: 150px;
	height:94px;
	float: left;
	position: relative;
}
.scm_user_list .scm_user_item .scm_user_logo{
	display: block;
	width:56px;
	height:56px;
	border-radius: 50%;
	border:3px solid #717070;
	margin: 5px auto;
}
.scm_user_list .scm_user_item .scm_user_name{
	width:150px;
	height:20px;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
}
.scm_user_item.user_vip .scm_user_name:after{
	content: "";
	display: inline-block;
	position: absolute;
    top: 53px;
    left: 88px;;
	width: 12px;
	height:12px;
	border:1px solid #ffffff;
	background: url(../images/vip12.png) no-repeat 0px 0px;
	background-color: #ffffff;
	border-radius: 50%;
}
.scm_lable_list{
	width:1200px;
	height:117px;
	margin: 10px auto 0;
	background-color: #EEEEEE;
}
.scm_lable_item{
	width: 120px;
	height:35px;
	float:left;
	border-radius: 17px;
	background-color: #004B6E;
	margin: 38px 15px;
	text-align: center;
	line-height: 35px;
	color: #ffffff;
	font-size: 16px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
}
.scm_lable_item:hover{
	background-color: rgb(0,190,220);
}
.my_sc_user_list_wrpper{
	width:1200px;
	height:370px;
	margin: 0 auto;
	position: relative;
	background-color: #EDEDEF;
}
.my_sc_user_list{
	width:1062px;
	height:340px;
	margin: 0 70px 0 110px;
}
.my_sc_user_item{
	float:left;
	width:292px;
	height:90px;
	margin: 21px 31px 0 31px;
	background-color: #DCDCDD;
	border-radius: 5px;
}
.my_sc_user_icon{
	width:90px;
	height:90px;
	float:left;
	display: inline-block;
	position: relative;
}
.my_sc_user_icon img{
	display: block;
	width:56px;
	height:56px;
	border-radius: 50%;
	border:3px solid #717070;
	margin: 3px auto;
}
.my_sc_user_icon span{
	width:90px;
	height:20px;
	line-height: 20px;
	display: inline-block;
	text-align: center;
}
.my_sc_user_icon.vip_user span:after{
	content: "";
	display: inline-block;
	position: absolute;
    top: 50px;
    left: 58px;
	width: 12px;
	height:12px;
	border: 1px solid #ffffff;
	background: url(../images/vip12.png) no-repeat;
	background-color: #ffffff;
	border-radius: 50%;
}
.my_sc_user_lable{
	width:90px;
	height:80px;
	margin: 5px 5px;
	float:left;
}
.my_sc_user_lable:first-of-type{
	border-right: 1px solid #CCCECD;
}
.my_sc_user_lable a{
	display: block;
	width:90px;
	height:20px;
	line-height: 20px;
	text-align: left;
}
.my_sc_user_lable a.blue_lable{
	color:#064A6B;
}
.my_sc_user_lable a.gray_lable{
	color:#ABADAC;
}
.my_sc_user_lable a.orange_lable{
	color:#DA8B3B;
}
.my_sc_user_more{
	position: absolute;
	bottom: 10px;
	right:20px
}
.my_sc_user_more a{
	text-decoration: underline;
}
