.ul_btn_choose{
	height:14px;
	width:174px;
	margin: 34px auto 17px;
}
.ul_btn_choose_a{
	width:14px;
	height:14px;
	float:left;
	display: inline-block;
	box-sizing: border-box;
	border: 3px solid #ffffff;
	background-color: #004B6E;
	margin-left: 26px;
	border-radius: 50%;
	cursor: pointer;
}
.ul_btn_choose_a:first-child{
	margin-left: 0;
}
.ul_btn_choose_a.active{
	border: 3px solid #004B6E;
	background-color: #ffffff;
}



.ul_list{
	width:1200px;
	margin:0 auto;
}
.ul_item{
	width:1200px;
	height:200px;
	margin-bottom: 25px;
}
.ul_item_rank{
	width:200px;
	height:200px;
	float: left;
	box-sizing: border-box;
	border: 1px solid #BDBDBE;
	border-radius: 4px;
}
.ul_item_rank_num{
	height:51px;
	line-height: 51px;
	margin-top: 42px;
	text-align: center;
	display: block;
	width:200px;
	font-weight: bold;
    font-size: 65px;
    color:#717070;
    margin-bottom: 3px;
}
.rank_1 .ul_item_rank_num{
	color:#E50012;
}
.rank_2 .ul_item_rank_num{
	color:#008CD6;
}
.rank_3 .ul_item_rank_num{
	color:#009944;
}
.ul_item_years{
	display: block;
	height:24px;
	line-height: 24px;
	text-align: center;
	margin: 3px auto;
	font-size: 22px;
}
.ul_item_confirm{
	display: block;
	height:24px;
	line-height: 24px;
	text-align: center;
	margin: 3px auto;
	font-size: 22px;
}
.ul_item_degree{
	display: block;
	height:24px;
	line-height: 24px;
	text-align: center;
	margin: 3px auto;
	font-size: 22px;
}
.ul_item_degree.increase:after{
	width:24px;
	height:24px;
	line-height: 24px;
	display: inline-block;
	content: " ";
	background: url(../images/icon_increase.png) no-repeat 0px 9px;
}
.ul_item_degree.decrease:after{
	width:24px;
	height:24px;
	line-height: 24px;
	display: inline-block;
	content: " ";
	background: url(../images/icon_decrease.png) no-repeat 0px 9px;
}
.ul_item_img{
	width:400px;
	height:200px;
	float:left;
	display: inline-block;
	margin-left: 60px;
	border-radius: 12px;
	position: relative;
	overflow: hidden;
}
.ul_item_image{
	width:400px;
	height:200px;
	display: inline-block;
}
.ul_item_mask{
	width:400px;
	height:100px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-radius: 0 0 0 12px;
	background: url(../images/usermask.png) no-repeat 0px 0px;
}
.ul_item_mask_user_name{
	width:150px;
	display: inline-block;
	height:25px;
	line-height: 25px;
	margin-top: 42px;
	margin-left: 16px;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color:#ffffff;
    font-size: 27px;
    padding-right: 10px;
    float:left;
}
.ul_item_mask_user_name.vip:after{
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #ffffff;
	background: url(../images/vip10.png) no-repeat 0px 0px;
	background-color: #ffffff;
	position: relative;
	top:2px;
	left:5px;
	border-radius: 50%;
}
.ul_item_mask_user_title{
	width: 270px;
	height:16px;
	line-height: 16px;
	margin-left: 16px;
	margin-top: 5px;
	color: #ffffff;
	font-size: 16px;
	float:left;
}
.ul_item_left_lable{
	width:150px;
	height:64px;
	position: absolute;
	left:0;
	top:20px;
}
.ul_item_left_lable_item{
	width:150px;
	height: 18px;
	margin-top: 5px;
}
.ul_item_left_lable_item:first-child{
	margin-top: 0;
}
.ul_item_left_lable_item span{
	display: inline-block;
	height: 18px;
	max-width: 139px;
	line-height: 17px;
	padding: 0 7px;
	float:left;
	color: #ffffff;
	font-size: 15px;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    box-sizing: border-box;
	background-color: #004B6E;
}
.ul_item_left_lable_item i{
	display: inline-block;
	width: 11px;
	height: 18px;
	float:left;
	background: url(../images/user_item_left_lable.png) no-repeat 0px 0px;
}
.ul_item_right_lable{
	height:123px;
	position: absolute;
	top:20px;
	right: 0px;
}
.ul_item_right_lable_item{
	width:150px;
	height: 18px;
	margin-top: 5px;
}
.ul_item_right_lable_item:first-child{
	margin-top: 0;
}
.ul_item_right_lable_item span{
	display: inline-block;
	height: 18px;
	max-width: 139px;
	line-height: 17px;
	padding: 0 7px;
	float:right;
	color: #ffffff;
	font-size: 15px;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    box-sizing: border-box;
	background-color: #EF8200;
}
.ul_item_right_lable_item i{
	display: inline-block;
	width: 11px;
	height: 18px;
	float:right;
	background: url(../images/user_item_right_lable.png) no-repeat 0px 0px;
}


.ul_item .user_content_div{
	float:left;
	width:480px;
	height:200px;
	margin: 0;
	box-sizing: border-box;
	margin-left: 60px;
}
.ul_item .user_content_div .uct_title{
	width:480px;
	height:23px;
	line-height: 23px;
	color:#004B6E;
	font-size: 18px;
	margin-top: 0;
}
.ul_item .user_content_div .uct_title .uci_i{
	max-width:400px;
	height:23px;
	line-height: 23px;
	color:#2569A6;
	font-size: 17px;
	overflow: hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
    display: inline-block;
    float:left;
}
.ul_item .user_content_div .uct_title i{
	float:left;
	display: inline-block;
	height: 20px;
	padding: 0px 5px;
	border:1px solid #E4E1E2;
	line-height: 20px;
	font-size: 12px;
	color:red;
	margin-left: 5px;
	position: relative;
}
.ul_item .user_content_div .uct_title i:before{
	content: "";
	display: inline-block;
	width:8px;
	height:8px;
	position: absolute;
	bottom: -6px;
    background: url(../images/arra.png) no-repeat 2px -1px;
    left: -3px;
}
.ul_item .user_content_div  .uct_c{
	width:480px;
	height:40px;
	line-height: 20px;
	font-size: 15px;
	color:#7C7C7C;
	position: relative;
}
.ul_item .user_content_div .uct_c_time{
	position: absolute;
	bottom: 0;
	right:0;
	display: inline-block;
	width:125px;
	height:20px;
	line-height: 20px;
	font-size: 15px;
	color:#D5D6D6;
	background: url(../images/timeicon.png) no-repeat 0px 2pxpx;
	text-indent: 20px;
}
.ul_item .uct_lables{
	width:480px;
	height:18px;
	font-size: 15px;
	overflow: hidden;
	margin-top: 5px;
}
.ul_item .uct_lables i{
	display: inline-block;
	padding: 0 5px;
	height:18px;
	line-height: 18px;
	color:#ffffff;
	border-radius: 2px;
	background-color: #EF8200;
}
.ul_item .uct_lables i.dark_green{
	display: inline-block;
	color:#ffffff;
	padding: 0 5px;
	background-color: #004B6E;
}
.ul_item .uct_imgs{
	width:480px;
	margin-top: 10px;
}
.ul_item .uct_imgs img{
	width:150px;
	height:104px;
	margin: 0 0px 0 11px;
	float:left;
}
.ul_item .uct_imgs img:first-child{
	margin-left: 0;
}
